Write a Pandas program to convert a dictionary to a Pandas series.

In [ ]:
import pandas as pd
original_dict = {'a': 100, 'b': 200, 'c': 300, 'd': 400, 'e': 800}
series = pd.Series(original_dict)
print(series)

a    100
b    200
c    300
d    400
e    800
dtype: int64

Write a Pandas Program to add, subtract, multiply and divide two Pandas Series

In [ ]:
import pandas as pd
ds1 = pd.Series([2, 4, 6, 8, 10])
ds2 = pd.Series([1, 3, 5, 7, 9])
print("Add two series:")
print(ds1 + ds2)
print("Subtract two series:")
print(ds1 - ds2)
print("Multiply two series:")
print(ds1 * ds2)
print("Divide two series:")
print(ds1 / ds2)

Add two series:
0     3
1     7
2    11
3    15
4    19
dtype: int64
Subtract two series:
0    1
1    1
2    1
3    1
4    1
dtype: int64
Multiply two series:
0     2
1    12
2    30
3    56
4    90
dtype: int64
Divide two series:
0    2.000000
1    1.333333
2    1.200000
3    1.142857
4    1.111111
dtype: float64

Write a Pandas program to compare the elements of the two Pandas Series.

In [ ]:
import pandas as pd
ds1 = pd.Series([2, 4, 6, 8, 10])
ds2 = pd.Series([1, 3, 5, 7, 10])
print("Greater than two series:")
print(ds1 > ds2)
print("Less than two series:")
print(ds1 < ds2)
print("Greater than or equal to two series:")
print(ds1 >= ds2)
print("Less than or equal to two series:")
print(ds1 <= ds2)
print("Equal to two series:")
print(ds1 == ds2)
print("Not equal to two series:")
print(ds1 != ds2)

Greater than two series:
0     True
1     True
2     True
3     True
4    False
dtype: bool
Less than two series:
0    False
1    False
2    False
3    False
4    False
dtype: bool
Greater than or equal to two series:
0    True
1    True
2    True
3    True
4    True
dtype: bool
Less than or equal to two series:
0    False
1    False
2    False
3    False
4     True
dtype: bool
Equal to two series:
0    False
1    False
2    False
3    False
4     True
dtype: bool
Not equal to two series:
0     True
1     True
2     True
3     True
4    False
dtype: bool

Write a Pandas Program to change the data type of a given column or a series

In [ ]:
import pandas as pd
s = pd.Series([100, 200, 'python', 300.12, 400])
print("Change type of series into numeric:")
s = pd.to_numeric(s, errors='coerce')
print(s)

change type of series into numeric:
0    100.00
1    200.00
2       NaN
3    300.12
4    400.00
dtype: float64

Write a Pandas program to join the two given dataframes along rows and assign all the data

In [ ]:
import pandas as pd
student_d1 = pd.DataFrame({'student_id': ['s1', 's2', 's3', 's4', 's5'],
                          'student_name': ['Danniella Fenton', 'Ryder Storey', 'Bryce Jenson', 'Ed Bernal', 'Kwame Morin'],
                          'student_marks': [200, 210, 190, 222, 199]})
student_d2 = pd.DataFrame({'student_id': ['s4', 's5', 's6', 's7', 's8'],
                          'student_name': ['Scarlette Fisher', 'Carla Williamson', 'Dante Morse', 'Kaiser William', 'Madeeha Preston'],
                          'student_marks': [201, 200, 198, 219, 201]})
all_students = pd.concat([student_d1, student_d2], ignore_index=True)
print(all_students)

  student_id      student_name  student_marks
0         s1  Danniella Fenton            200
1         s2      Ryder Storey            210
2         s3      Bryce Jenson            190
3         s4         Ed Bernal            222
4         s5       Kwame Morin            199
5         s4  Scarlette Fisher            201
6         s5  Carla Williamson            200
7         s6       Dante Morse            198
8         s7    Kaiser William            219
9         s8   Madeeha Preston            201

Write a Pandas program to join the two given dataframes along coloumns and assign all the data.

In [3]:
import pandas as pd
student_d1 = pd.DataFrame({'student_id': ['s1', 's2', 's3', 's4', 's5'],
                          'student_name': ['Danniella Fenton', 'Ryder Storey', 'Bryce Jenson', 'Ed Bernal', 'Kwame Morin'],
                          'student_marks': [200, 210, 190, 222, 199]})
student_d2 = pd.DataFrame({'student_id': ['s4', 's5', 's6', 's7', 's8'],
                          'student_name': ['Scarlette Fisher', 'Carla Williamson', 'Dante Morse', 'Kaiser William', 'Madeeha Preston'],
                          'student_marks': [201, 200, 198, 219, 201]})
all_students = pd.concat([student_d1, student_d2], axis=1)
print(all_students)

  student_id      student_name  student_marks student_id      student_name  \
0         s1  Danniella Fenton            200         s4  Scarlette Fisher
1         s2      Ryder Storey            210         s5  Carla Williamson
2         s3      Bryce Jenson            190         s6       Dante Morse
3         s4         Ed Bernal            222         s7    Kaiser William
4         s5       Kwame Morin            199         s8   Madeeha Preston

   student_marks
0            201
1            200
2            198
3            219
4            201

Write a Pandas program to join the two given dataframes along rows and assign all the data

In [5]:
import pandas as pd
student_d1 = pd.DataFrame({'student_id': ['s1', 's2', 's3', 's4', 's5'],
                          'student_name': ['Danniella Fenton', 'Ryder Storey', 'Bryce Jenson', 'Ed Bernal', 'Kwame Morin'],
                          'student_marks': [200, 210, 190, 222, 199]})
student_d2 = pd.DataFrame({'student_id': ['s4', 's5', 's6', 's7', 's8'],
                          'student_name': ['Scarlette Fisher', 'Carla Williamson', 'Dante Morse', 'Kaiser William', 'Madeeha Preston'],
                          'student_marks': [201, 200, 198, 219, 201]})
all_students = pd.concat([student_d1, student_d2], ignore_index=True)
student_id = input("Enter student id: ")
student_name = input("Enter student name: ")
student_marks = input("Enter student marks: ")
#add the new row to the dataframe
new_row = pd.DataFrame({'student_id': [student_id], 'student_name': [student_name], 'student_marks': [student_marks]})
all_students = pd.concat([all_students, new_row], ignore_index=True)
print(all_students)

   student_id      student_name student_marks
0          s1  Danniella Fenton           200
1          s2      Ryder Storey           210
2          s3      Bryce Jenson           190
3          s4         Ed Bernal           222
4          s5       Kwame Morin           199
5          s4  Scarlette Fisher           201
6          s5  Carla Williamson           200
7          s6       Dante Morse           198
8          s7    Kaiser William           219
9          s8   Madeeha Preston           201
10         s9       Hurko Kutta            69

Write a Pandas program to print common rows between two given dataframes

In [8]:
import pandas as pd
student_d1 = pd.DataFrame({'student_id': ['s1', 's2', 's3', 's4', 's5'],
                          'student_name': ['Danniella Fenton', 'Ryder Storey', 'Bryce Jenson', 'Ed Bernal', 'Kwame Morin'],
                          'student_marks': [200, 210, 190, 222, 199]})
student_d2 = pd.DataFrame({'student_id': ['s4', 's5', 's6', 's7', 's8'],
                          'student_name': ['Scarlette Fisher', 'Carla Williamson', 'Dante Morse', 'Kaiser William', 'Madeeha Preston'],
                          'student_marks': [201, 200, 198, 219, 201]})
common_students = pd.merge(student_d1, student_d2, on='student_id')
print("Common students in both dataframes:")
print(common_students)

Common students in both dataframes:
  student_id student_name_x  student_marks_x    student_name_y  \
0         s4      Ed Bernal              222  Scarlette Fisher
1         s5    Kwame Morin              199  Carla Williamson

   student_marks_y
0              201
1              200

Write a Pandas Program to merge two dataframe with the missing records.

In [2]:
import pandas as pd
student_d1 = pd.DataFrame({'Id': ['1', '2', '3'],
                            'Name': ['John Doe', 'Jane Smith', 'Emily Davis'],
                            })
student_d2 = pd.DataFrame({'Id': ['1', '3', '4'],
                           'Age': [22, 23, 21]
                            })
merged_df = pd.merge(student_d1, student_d2, on='Id', how='outer')
print("Merged DataFrame with missing records:")
print(merged_df)

Merged DataFrame with missing records:
  Id         Name   Age
0  1     John Doe  22.0
1  2   Jane Smith   NaN
2  3  Emily Davis  23.0
3  4          NaN  21.0

Write a Pandas program to merge two dataframe and rename columns

In [3]:
import pandas as pd
student_d1 = pd.DataFrame({'Id': ['1', '2', '3'],
                            'Name': ['John Doe', 'Jane Smith', 'Emily Davis'],
                            })
student_d2 = pd.DataFrame({'Id': ['1', '3', '4'],
                           'Salary': [50000, 60000, 65000]
                            })
merged_df = pd.merge(student_d1, student_d2, on='Id', how='outer')
merged_df.rename(columns={'Salary': 'Annual Salary'}, inplace=True)
print("Merged DataFrame with renamed column:")
print(merged_df)

Merged DataFrame with renamed column:
  Id         Name  Annual Salary
0  1     John Doe        50000.0
1  2   Jane Smith            NaN
2  3  Emily Davis        60000.0
3  4          NaN        65000.0

Merge 2 dataframes with different columns

In [8]:
import pandas as pd
data1 = {'A': [None, 0.0, None], 'B': [3, 4, 5]}
df1 = pd.DataFrame(data1)
data2 = {'A': [1, 1, 3], 'B': [3.0, None, 3.0]}
df2 = pd.DataFrame(data2)
result = df1.combine_first(df2)
print("Combined DataFrame:\n", result)

Combined DataFrame:
      A    B
0  1.0  3.0
1  0.0  4.0
2  3.0  5.0